!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => 'utf-8'}
    %meta{:content => 'MRTG/RRD Graphic Frontend', :name => 'description' }
    %meta{:content => 'Obscured', :name => 'author' }
    %meta{:content => 'IE=edge', 'http-equiv' => 'X-UA-Compatible'}
    %meta{:content => 'width=device-width, initial-scale=1', :name => 'viewport'}
    %title= "Metrics for #{server_name}"
    = haml :'../shared/partials/scripts'
    %link{:rel => 'icon', :type => 'image/x-icon', :href => '/homer/img/favicon.ico'}
    = haml :'../shared/partials/styles'

  %body.bs-docs-home
    = haml :'../shared/header'


    = yield


    = haml :'../shared/footer', :locals => { :render_time => render_time }